/* Boxes ------------------------------------------------------------ */

#pupil-manager .black {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 8;
  background-color: black;
  opacity: 0.7;
}

#pupil-manager .box {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  z-index: 8;
}

#pupil-manager .box1 {
  position: relative;
  margin: 0 auto 1em;
  background: url("http://data.teacher-story.com/img/bg_line2.png")
    white top left repeat-y;
  box-shadow: 9px 9px 0 rgba(0, 0, 0, 0.13);
  padding: 20px;
  padding-bottom: 41px;
  width: calc(61.8% - 40px);
  min-width: 480px;
  max-width: 960px;
  min-height: 329px;
  max-height: 700px;
}

/* Mimicking -------------------------------------------------------- */

#pupil-manager .postit { margin: 15px 0; }

#pupil-manager .floatLeft { margin-right: 10px; }

#pupil-manager h2 { margin-bottom: 10px; }

#pupil-manager .info { font-size: 14px; }

#pupil-manager .atBottomLeft {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

/* Close Button ----------------------------------------------------- */

#pupil-manager .close-button.cross {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1.2em;
  height: 1.2em;
  font: bold 150%/1.2em Acme;
  text-align: center;
}

#pupil-manager .close-button.cross:hover {
  background: #0D7984;
  color: white;
  text-decoration: none;
}

/* Loading Indicator ------------------------------------------------ */

#pupil-manager .loading {
  text-align: center;
}

#pupil-manager .loading img {
  vertical-align: bottom;
  margin-left: -18px;
}

/* Table ------------------------------------------------------------ */

#pupil-manager .contacts table {
  border-collapse: collapse;
  text-align: center;
  font-size: 14px;
  width: 100%;
  box-shadow: 2px 2px 10px #DDF;
}

#pupil-manager .contacts table td:nth-child(2) {
  text-align: left;
}

#pupil-manager .contacts th {
  font-size: 12px;
  color: white;
  background: #0D7984;
}

#pupil-manager .contacts th,
#pupil-manager .contacts td {
  padding: 4px 0.75ex;
  vertical-align: middle;
}

#pupil-manager .contacts td.name {
  width: 25%;
  padding: 0;
}

#pupil-manager .contacts table img {
  display: block;
  margin: auto;
}
#pupil-manager .contacts table .last-sent[title] {
  cursor: help;
}

/* Alternating & Hovering Rows -------------------------------------- */

#pupil-manager .contacts tbody tr {
  background: white;
}

#pupil-manager .contacts tbody tr:nth-child(even) {
  background: #E8E8E8;
}

#pupil-manager .contacts tbody tr:hover {
  color: white;
  background: #4A9BA3;
}


#pupil-manager .contacts tbody tr:hover a {
  color: white;
}

/* Sorting ---------------------------------------------------------- */

#pupil-manager .contacts th.sortable { cursor: pointer; }
#pupil-manager .contacts th.sort.asc::before { content: "\25B2\00A0"; }
#pupil-manager .contacts th.sort.desc::before { content: "\25BC\00A0"; }

/* Action Buttons --------------------------------------------------- */

#pupil-manager .contacts a.action.retry   { color: #E70;  }
#pupil-manager .contacts a.action.success { color: green; }
#pupil-manager .contacts a.action.failure { color: red;   }

#pupil-manager .contacts a.action.used {
  cursor: default;
  text-decoration: none;
}

#pupil-manager .contacts .with-transition {
  transition: background-color 2s;
}

#pupil-manager .contacts .updated {
  background-color: #FC6;
}

#pupil-manager.no-more-pupils .contacts a.action {
  cursor: not-allowed;
  text-decoration: line-through;
}

/* Pagination Buttons ----------------------------------------------- */

#pupil-manager .contacts a.active {
  font-weight: bold;
}
#pupil-manager .contacts a.relative {
  font: bold 1.2em
    Acme, "Segoe UI", "Trebuchet MS", "Lucida Console", sans-serif;
  margin: 0 0.5ex;
}